*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


.main-container-one{
    width: 100%;
    height: 100vh;
font-family:  Helvetica;
background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
            url(./IN-en-20240930-TRIFECTA-perspective_1e1ca6cd-9e2d-4e9d-9e4b-ba0c2d3a0e31_large.jpg);
background-position: center;
background-size: cover;

display: flex;
align-items: center;
justify-content: start;
flex-direction: column;

}





.nav-section{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 30px;

}

.nav-left{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;

}

.nav-left img{
    width: 150px;
}

.nav-right{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;

}

.nav-right button{
    height: 30px;
    width: 110px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0.5px solid white;
    background: transparent;
    border-radius: 5px;
    color: white;
    
}


.nav-right  button:last-child{
    width: 70px;
    background-color: #C22524;
}

.content-section{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: white;
    text-align: center;
    /* padding-top: 120px; */
    gap: 20px;
}

.content-section h2{
    font-size: 60px;
}


.content-section input{
    width: 380px;
    height: 50px;
    border-radius: 5px;
    background-color: #111010;
  font-size: larger;
  border: 0.7px solid white;
  font-weight: 700;
}

.content-section button{
    width: 155px;
    height: 50px;
    background-color: #C22524;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}


.main-container-two{
    width: 100%;
    height: auto;
    padding-inline: 70px;

    background-color: #000000;
}
.card-section-one{
    width: 100%;
    height: auto;
    padding-block: 40px;
}

.card-nav{
    width: 100%;
    height: auto;
    padding-block: 10px;
    padding-inline: 40px;

}


.card-nav h3{
    font-size: 25px;
    color: white;
}

.card-nav button{
    width: 100px;
    height: 33px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border-color: white;
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
}


.boxs{
    width: 100%;
    height: auto;
    padding-inline: 20px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    width: 200px;
    height: 280px;
    

}

.box img:hover{
    transition: all 3s linear 2s ;
    width: 230px;
    height: 300px;
    

}



.card-section-two{
    width: 100%;
    height: auto;
   
}

.nav-card{
    width: 100%;
    height: auto;
 
 padding-block: 10px;
    padding-inline: 60px;
}

.nav-card h3{
    font-size: 25px;
    color: white;
    

}

.cards{
    width: 100%;
    height: auto;
    color: white;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.card{
    width: 250px;
    height: 300px;
 padding: 10px;
 position: relative;
 display: flex;
 align-items: start;
 justify-content: start;
 flex-direction: column;
 gap: 15px;
    border-radius: 15px;
     background-color: #1D1324;
    position: relative;

}

.card h3{
    font-size: 25px;
}

.card p{
    font-size: 16px;
    font-weight: 700;
}

.card svg{

    position: absolute;
    bottom: 10px;
    right: 10px;
}


.Question-section{
    width: 100%;
    height: auto;
    color: white;
}

.nav-question{
    width: 100%;
    height: auto;
    padding-inline: 25px;
    padding-block: 10px;
}

.nav-question h3{
    font-size: 25px;
}


.options{
    width: 100%;
    height: auto;
    padding-inline: 25px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10PX;
    

}

.option{
    width: 100%;
    height: 50px;
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
font-size: 20px;
/* padding-top: 10px; */
font-weight: 600;
}



.input-section{
    width: 100%;
    height: auto;
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-inline: 25px ;
}

.input-section p{
    /* width:; */
    font-size: 20px;
    font-weight: 500;
}

.inp{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* padding-inline: 10px; */
}
.inp input{
    width: 36em;
    height: 4em;
    background-color: #111010;
    border-radius: 5px;
    border: 0.5px solid white;
}

.inp button{
    width: 10em;
    height: 2.7em;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background-color: #C22524;
    border: 0.5px solid white;
   display: flex;
   font-size: larger;
   align-items: center;
   justify-content: center;

   
}

.fooder-section{
    width: 100%;
    height: auto;
    padding-inline: 25px;
    padding-block: 10px;
/* gap: 10px; */
}

.fooder-section a{
    color: rgb(211, 211, 211);
    font-size: 1.1em;
    font-weight: 700;
}

.nav-fooder{
    width: 100%;
    height: auto;
    padding-block: 30px;
    /* font-size: 1.5em; */
    /* font-weight: 800; */
}

.fooders{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    

}

.list{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    /* font-size: 1.1em; */
    font-weight: 600;
    padding-block: 15px;
    gap: 28px;
}

.fooder-btn{
    width: 100%;
    height: auto;
    padding-block: 30px;
    display: flex;
    align-items: start;
 flex-direction: column;
    justify-content: center;
    /* color: white; */
    gap: 20px;
/* margin-left: 20px; */
}

.fooder-btn button{
    width: 8em;
    height: 2.4em;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.fooder-btn p{
 
 color: rgb(250, 238, 238);
    font-size: 18px;
    font-weight: 600;
}

.main-btn{
    
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    display: none;
}





@media (max-width:480px) {
    .main-container-one{
        width: 100%;
        height: auto;
    }

.nav-section{
    width: 100%;
    height: auto;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding-block: 17px;
    padding-inline: 10px;
}

.nav-left img{
    width: 90%;
}

.nav-right{
    display: flex;
    align-items: end;
    justify-content: center;
}
.nav-right button{
    font-size: 1em;
    font-weight: 400;
    

}

.nav-right button:last-child{
    width: 120px;
}

.content-section{
    width: 100%;
    height: auto;
padding-block: 90px;
padding-inline: 50px;
text-align: center;


}



.content-section h2{
    font-size: 35px;
}


.content-section button{
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
}


.main-container-two{
    height: auto;
    width: 100%;
    padding-inline: 0;
}


.card-section-one{
    width: 100%;
    height: auto;

}

.card-nav{
    width: 100%;

}

.card-nav button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 20px;

}

.boxs{
    width: 100%;
}


.box{
    width: 8rem;
    height: 11rem;
    /* gap: 20px; */
}
.box img{
   
    height: 11rem;
}

.box:last-child{
    display: none;
}

.card-section-two{
    width: 100%;
    height: auto;
}

.card-section-two br{
    display: none;
}

.nav-card{
    width: 100%;
    height: auto;
}

.cards{
    width: 100%;
    height: auto;
    flex-direction: column;
    /* position: none; */
    gap: 10px;
}


.card{

    width: 27em;
    height: 12rem;
padding-block: 20px;
gap: 1em;

}

.card h3{
    font-size: 1.5em;
}



.Question-section{
    width: 100%;
    height: auto;
    
}

.Question-section P{
    font-size: 1.2em;
}

.inp{
    width: 100%;
    height: auto;
   display: flex;
   align-content: end;
   justify-content:end;
   /* background-color: aquamarine; */
   flex-direction: column;
  
}

.inp input{
    width: 31.4em;
}

.inp button{
    width: 7em;
    height: 2em;
font-weight: 100;
margin-right: 15em;

}

.fooder-section{
    width: 100%;
    height: auto;

}

.fooders{
    width: 100%;
    height: auto;
    
    flex-direction: column;
}

.list{
    width: 100%;
    height: auto;
    gap: 10px;
    padding-block: 10px;
}


.main-btn{
    display: inline;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-btn button{
    width: 29rem;
    height: 3rem;
    border-radius: 5px;
    background-color: #C22524;
    color: white;
    font-size: larger;
    font-weight: 700;
}


}
